<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <ul>
        <li><a href="/store/login/">登录</a></li>
        <li><a href="/store/register/">注册</a></li>
        <li><a href="/store/add_store/">添加店铺</a></li>
        <li><a href="/store/edit_store/">编辑店铺</a></li>
        <li><a href="/admin/">登录超级用户</a></li>
        <li><a href="/store/index/">店铺首页</a></li>
        <li><a href="/store/list_goods/">查看商品</a></li>
        <li><a href="/buyer/login/">买家登录</a></li>
        <li><a href="/buyer/register/">买家注册</a></li>
        <li><a href="/buyer/tb/">图标</a></li>
    </ul>
</body>
</html>